.primary-bg {
    background-color: #0a66c294;
}

.primary-text{
    color: #0a66c2;
}
 
.primary-border{
    border-color: #0a66c2;
}

.white-bg {
    background-color: #fff;
}
  
.white-text {
    color: #fff;
}
  
.red-text {
    color: #f63333;
}
  
  

  