.btn-style{
    background-color: white;
    color: #0a66c2;
    border: 1px solid #0a66c2;
    border-radius: 3px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    width: 75px;
}

.btn-fill-style{
    background-color: #0a66c2;
    color: white;
    border-radius: 3px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    width: 75px;
}

.input-style{
    height: 50px;
    padding: 0 10px;
    border-radius: 3px;
}

.btn-style:hover{
    opacity: 0.8;
}



